<h1>Help Section</h1>
<p>If you're having trouble using the site, please check out the following resources:</p>
<ul>
  <li>How to register and login</li>
  <li>How to view pricing information</li>
  <li>How to submit complaints</li>
</ul>
